node_modules/
.expo/
dist/
web-build/
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.*
!.env.example
npm-debug.*
yarn-debug.*
yarn-error.*
android/app/build/
android/.gradle/
ios/build/
ios/Pods/
*.log
